*{
  box-sizing: border-box;
  font-family:'Source Sans Pro', sans-serif;
}

body {
  margin: 0px;
}

/*Styles for header*/

header {
  background-color: rgba(98, 19, 59, 0.73);
}

.search-filter {
  cursor: pointer;
  padding: 10px 10px 10px 0;
}
.search-filter span {
  font-weight: 700px;    
  }
.filter-menu {
  padding: 10px 0;
}

.filter-menu li {

}
